
		img{
			border-radius: 10%;
		}
		p{
			margin: 0px;
		}
		/*.img{
			float: left;
		}*/
		.content{
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr ;
		}
		.users{
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr;
			grid-template-rows: 1fr;
			grid-gap: 20px;

		}
		.users>div{
			font-size: 2vw;
			padding: 1.0em;
			background: lightblue;
			border-radius: 35px;
			text-align: center;
			border: 2px solid blue;
		}
		.content_img{
			margin-top: 1.0em;
		}
		.link_delete{
			font-size: 18px;
			text-decoration: none;
			color: red;
		}
		.link_edit{

			font-size: 18px;
			text-decoration: none;
		}

		.gender{
			float: left;
		}
		.goods{
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr 1fr;
			grid-gap: 20px;

		}
		.goods>div{
			font-size: 2vw;
			padding: 15px;
			background: lightgreen;
			border-radius: 35px;
			border: 3px solid blue;


		}

.img_goods{
	margin-right: 10px;
	float: left;
	border-radius: 25px 0px 25px 0px;
	padding: 5px;
	background-color: #fff;

}
.link_goods{
	padding: 5px;
	display: flex;
	justify-content: space-between;
}

.description_of_goods{
	font-size: 18px;
}
.btn_close{

	border-radius: 3px;
	padding: 10px 50px;
	background-color: #4fc75075;
	position: absolute;
	top: 30px;
	right: 10px;
	z-index: 10;
}
.btn_close:hover{
	background-color: red;
	border: 1px solid blue;
}
.link{
	display: flex;
	justify-content: space-between;
}

.input{
	width: 25%;
	background-color: #1736b757;
	border:2px solid grey;
	border-radius: 5px;
	padding: 5px;
	margin-bottom: 3px;
}
